a {
  color: #00b0ff;
}

.content {
  min-height: calc(100vh - 64px);
  position: absolute;
  top: 3em;
  width: 100%;
  overflow-x: hidden;
  padding: 2em;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.info-container {
  text-align: center;
  margin-bottom: 2em;
}

.flex-column {
  flex-direction: column;
}

.name-form {
  margin-top: 1em !important;
}

.submit-button {
  margin-top: 1.25em !important;
}

.url {
  margin-right: .25em !important;
}
