.root {
  display: flex;
}

.drawer {
  width: 200px;
  flex-shrink: 0;
}

.drawer-paper {
  width: 200px;
}

.drawer-container {
  overflow: auto;
}

.drawer-content {
  flex-grow: 1;
  padding: 1.15em;
}
