.add-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  .add-button {
    bottom: 2em;
    right: 2em;
    // float: right;
    // position: fixed !important;
    color: white !important;
  }
}

.MuiDialog-paperWidthSm {
  width: 35em;
}