.add-button {
  bottom: 2em;
  right: 2em;
  float: right;
  position: fixed !important;
  color: white !important;
}

.MuiDialog-paperWidthSm {
  width: 35em;
}

.select-all-checkbox {
  float: right !important;
  padding-right: 0.5625em !important;
}